
*{
    margin: 0px;
    padding: 0px;
}

header nav footer {
    display: block;   
}

.navbar {
    border-radius: 0;
}

.font-icon{
    font-weight: 600;
    font-size: 20pt;
    
}



.topmenu{
    padding: 0px 10px;
}

.topmenu-right{
    float: right;
}

.navbar-brand{
    font: bold 20px;    
}

.img-responsive {
    width: 100%\9; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textDecor{
    text-decoration:none; 
}

li{
    list-style-type: none; /* Убираем маркеры */
}


.popular{
    margin-top: 20px;
    background: #f9f9f9;
}

.block h2{
    font-size: 20pt;
    text-align: center;
}

figcaption p{
    text-align: left;
    margin: 5px 60px;
}

.Description{
    display: inline-block;
    text-align: left;
    margin: 5px 60px;

    color: black;
    font-size: 12pt;
}

.block{
    height: 410px;
    position: relative;
    /*margin: 10px;*/
}

/*----------------
.container-fluid {
    padding-right: ;
    padding-left: auto;
}
------------------*/
/*
.block a{
    position: absolute;
    left: 75px;
    bottom: 10px;
}
*/
/*
.col-sm-6.center{
    border-right: none;
    border-left: none;
}

.col-md-4.center{
    border-right: 2px groove #a3b2ff;
    border-left: 2px groove #a3b2ff;
}



@media all and(max-width: 960px){
    .center{
        border-left: 2px groove #a3b2ff;  
    }
}
*/

.socialnetworks{
    background: #adc6ff;
    margin: 15px 0px;
    padding: 10px 0px;
}

.socialnetworks p{
    color: black;
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 7px;
}

.copyright{
    background: #adc6ff;
    margin: 30px 0px;
    padding: 10px 0px;
}

.copyright p{
    color: black;
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 7px;
    margin-left: 150px;
}

@media all and(max-width: 960px){
    .block:nth-child(2n + 1):before{ /*перед каждый  нечетным блоком*/
        margin: -10px 0px 0px 0px;
        content: url("../img/border.png");
    }
}
.navbar-inverse { background-color: #0F4FA8}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #7FB5FF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #6996D3}
.dropdown-menu { background-color: #6996D3}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #7FB5FF}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #0F4FA8}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color:  #000000}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #0F4FA8}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #7FB5FF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #0F4FA8}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #7FB5FF}

.dropdown {
    display: none;
}

.with-dropdown:hover .dropdown {
  display: block;
} 

.ArticleContents{
    padding-left: 50px;
    padding-right: 50px;
}

.collapse{
    padding-left : 40px;
    padding-right: 40px;
} 
/*
.navbar-collapse{

}*/